<section id='about-section' class='section'>
    <div class='container'>
        <h2>About Us</h2>
        <p>
            This application allows users to send messages directly to us. If you're an administrator, you can view all submitted messages in the admin panel.
        </p>
    </div>
</section>

<section id='features-section' class='section'>
    <div class='container'>
        <h2>Features</h2>
        <ul>
            <li>Secure and easy-to-use contact form.</li>
            <li>Admin panel for viewing all submitted messages.</li>
            <li>Email notifications for new submissions.</li>
        </ul>
    </div>
</section>

<section id='contact-section' class='section'>
    <div class='container'>
        <h2>Contact Us</h2>
        <p>If you have any questions, feel free to reach out to us!</p>
        <a href='/contact' class='btn'>Go to Contact Form</a>
    </div>
</section>