<html lang='en'>
    <head>
        <meta charset='UTF-8' />
        <meta name='viewport' content='width=device-width, initial-scale=1.0' />
        <title>Contact Form App</title>
        <link rel='stylesheet' href='public/css/styles.css' />
    </head>
    <body>
        <header class='header'>
            <div class='container'>
                <h1>Welcome to Contact Form App</h1>
                <p>Your simple way to connect with us.</p>
                <nav class='navbar'>
                    <a href='/'>Home</a>
                    <a href='/admin'>Admin</a>
                    <a href='#contact-section'>Contact Us</a>
                </nav>
            </div>
        </header>

        <main>
            {{{body}}}
        </main>

        <footer class='footer'>
            <div class='container'>
                <p>&copy; 2025 Contact Form App. All rights reserved.</p>
            </div>
        </footer>
    </body>
</html>